# Duplicate this file, removing the `-example` extension to work locally For
# production, ensure that the following ENV vars are set. As of this writing,
# the address to set ENV vars is
# https://app.netlify.com/sites/postplayhouse-main-site/settings/deploys#environment

B2_BUCKET_ID = SOME_ID
B2_APPLICATION_KEY_ID = SOME_ID
B2_APPLICATION_KEY = SOME_KEY
POST_BIO_SUBMISSION_PASSPHRASE="some lowercase passphrase with only letters and spaces"