# Speed up by ignoring folders that will never need prettier
static/images/
historical-images/publication.v1.json
src/lib/server/generated/historical-images.ts

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
