{
	"endOfLine": "lf",
	"trailingComma": "all",
	"arrowParens": "always",
	"semi": false,
	"svelteStrictMode": true,
	"useTabs": true,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
