.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example

.metadata_never_index
/static/g/
/static/index.css

.netlify/

# local, temp files only
/working files/
*.ignore/

# Sentry Config File
.sentryclirc
