@tailwind base;
@tailwind components;
@tailwind utilities;

ol,
ul {
  padding-left: 2em;
  list-style: decimal;
}

ul {
  list-style-type: disc;
}

.btn {
  @apply bg-green-700 text-white font-bold tracking-wide
      rounded-sm border-solid border-green-900 
      border-0 border-b-2;
}

.btn-p {
  @apply btn py-2 px-4;
}

.btn:hover,
.btn-p:hover {
  @apply bg-green-500 border-green-700;
}

.link-green {
  @apply underline text-green-600;
}

.link-green:hover {
  @apply text-green-700;
}

.r-16x9 {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.r-child {
  position: absolute;
  height: 100%;
  width: 100%;
}

.h1 {
  @apply text-4xl font-uber text-center;
}

.h2 {
  @apply text-green-700 text-4xl;
}

.h3 {
  @apply text-2xl;
}

/* We have to not only target markdown transpiled, but also things that have not
been given an explicit class */

.via-markdown a:not([class]) {
  @apply link-green;
}

.via-markdown h2:not([class]) {
  @apply h2 mt-3 mb-1;
}

.via-markdown h3:not([class]) {
  @apply h3 mt-2;
}

.via-markdown p:not([class]) {
  @apply mb-4;
}

.via-markdown img:not([class]) {
  @apply block my-4 mx-auto;
}
