@import "tailwindcss";

@theme {
	--border-width-6: 6px;

	--font-sans: metropolis, ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-uber: azo-sans-uber, Arial Black;

	--breakpoint-xs: 460px;

	--min-height-64: 16rem;
	--min-height-96: 24rem;
	--min-height-128: 32rem;

	--min-width-xs: 4rem;
	--min-width-sm: 8rem;
	--min-width-md: 12rem;
	--min-width-lg: 16rem;
	--min-width-xl: 20rem;

	--color-green-100: #e8f5e9;
	--color-green-200: #c8e6c9;
	--color-green-300: #a5d6a7;
	--color-green-400: #81c784;
	--color-green-500: #48bb78;
	--color-green-600: #38a169;
	--color-green-700: #2f855a;
	--color-green-800: #276749;
	--color-green-900: #22543d;

	--inset-1: 0.25rem;
	--inset-2: 0.5rem;
	--inset-3: 0.75rem;
	--inset-4: 1rem;
	--inset-5: 1.25rem;
}

@utility btn {
	@apply rounded-xs border-0 border-b-2 border-solid border-green-900 bg-green-700 font-bold tracking-wide text-white;

	&:hover {
		@apply border-green-700 bg-green-500;
	}

	&:disabled {
		@apply border-green-900 bg-green-700;
		opacity: 0.4;
		cursor: not-allowed;
	}

	&:disabled:hover {
		@apply border-green-900 bg-green-700;
		opacity: 0.4;
		cursor: not-allowed;
	}
}

@utility btn-p {
	@apply btn inline-flex px-4 py-2;
}

@utility link-green {
	@apply text-green-600 underline dark:text-green-300;
}

@utility h1-base {
	@apply font-uber text-center text-3xl dark:text-green-500/80;
}

@utility h2-base {
	@apply text-2xl text-green-700;
}

@utility h3-base {
	@apply text-lg font-bold;
}

@utility h4-base {
	@apply text-lg;
}

@utility blockquote-base {
	@apply border-l-4 border-gray-300 pl-4;
}

@utility h1 {
	@apply h1-base;

	@media screen and (min-width: 640px) {
		@apply text-4xl;
	}
}

@utility h2 {
	@apply h2-base;

	@media screen and (min-width: 640px) {
		@apply text-3xl;
	}
}

@utility h3 {
	@apply h3-base;

	@media screen and (min-width: 640px) {
		@apply text-xl;
	}
}

@utility h4 {
	@apply h4-base;
}

@utility blockquote {
	@apply blockquote-base;
}

@utility via-markdown {
	/* We have to not only target markdown transpiled, but also things that have not
been given an explicit class */

	& a:not([class]) {
		@apply link-green;
	}

	& h1:not([class]) {
		@apply h1-base mt-3 mb-1;
	}

	& h1:not([class]):first-child {
		@apply h1-base mt-0 mb-1;
	}

	& h2:not([class]) {
		@apply h2-base mt-3 mb-1;
	}

	& h3:not([class]) {
		@apply h3-base mt-2;
	}

	& h4:not([class]) {
		@apply h4-base mt-3 mb-2;
	}

	& p:not([class]) {
		@apply my-2;
	}

	& blockquote:not([class]) {
		@apply blockquote-base;
	}

	& img:not([class]) {
		@apply mx-auto my-4 block;
	}

	@media screen and (min-width: 640) {
		& h2:not([class]) {
			@apply text-3xl;
		}

		& h3:not([class]) {
			@apply text-2xl;
		}

		& h4:not([class]) {
			@apply text-xl;
		}
	}
}

@layer components {
	ol,
	ul {
		padding-left: 2em;
		list-style: decimal;
	}

	ul {
		list-style-type: disc;
	}

	input {
		@apply rounded-sm border border-gray-500 dark:border-white/40 dark:bg-white/20;
	}
}
